In [1]:
import sys
sys.path.insert(0, '../')
from numerical_representation_strategies.physicochemical_properties import physicochemical_encoder
from numerical_representation_strategies.fft_encoding import fft_encoding
from numerical_representation_strategies.constant_values import constant_values

import pandas as pd

In [2]:
sequences = ['ATGRGTG', 'PLPLKMN', 'DFRRFGTT', 'CCCFVFVGMM']
id_seq = [1, 2, 3, 4]

df_data = pd.DataFrame()

df_data['sequence'] = sequences
df_data['id_seq'] = id_seq

In [3]:
property_to_use = 'ANDN920101'
encoders = pd.read_csv("../../inputs_encoder/aaindex_encoders.csv")
encoders.index = encoders['residue']

column_with_seq = 'sequence'
column_with_id = 'id_seq'

In [4]:
print("Instance object")
encoding_instance = physicochemical_encoder(df_data,
                 property_to_use,
                 encoders,
                 constant_values(),
                 column_with_seq,
                 column_with_id)

Instance object

In [5]:
df_data = encoding_instance.encoding_dataset()
df_data

Processing results
Creating dataset
Export dataset

   id_seq   p_0   p_1   p_2   p_3   p_4   p_5   p_6   p_7   p_8   p_9
0       1  4.35  4.35  3.97  4.38  3.97  4.35  3.97  0.00  0.00  0.00
1       2  4.44  4.17  4.44  4.17  4.36  4.52  4.75  0.00  0.00  0.00
2       3  4.76  4.66  4.38  4.38  4.66  3.97  4.35  4.35  0.00  0.00
3       4  4.65  4.65  4.65  4.66  3.95  4.66  3.95  3.97  4.52  4.52

In [6]:
print("Encoding FFT")
fft_encoding_instance = fft_encoding(df_data,
                                     len(df_data.columns)-1,
                                     column_with_id,
                                     constant_values())

df_data_2 = fft_encoding_instance.encoding_dataset()
df_data_2

Encoding FFT
Processin data
Get near pow 2 value
Apply zero padding
Start FFT encoding process
Processing results
Creating dataset
Export dataset

,p_0,p_1,p_2,p_3,p_4,p_5,p_6,p_7,id_seq
0,29.34,21.054286,4.120071,6.421647,4.336681,2.880016,4.656460,0.351290,1
1,30.85,21.967524,3.927825,7.097809,4.536794,3.178685,4.449718,1.332269,2
2,35.51,22.607384,0.782167,8.010711,0.697209,6.169504,0.603336,4.350394,3
3,44.18,20.420916,9.049990,2.983148,6.889877,2.206220,3.899600,4.175312,4